# Eclipse
.project
.settings
.classpath

# Example
example/*.class
example/output/

# Gradle
/.gradle/
/build/
/captures/
/local.properties

# IDEA
/.idea
*/out
!/out

# Logs
*.log

# MacOS
.DS_Store

# Vi
*~

# VM crash logs
hs_err_pid*

# VSCode
/bin

# Windows
Thumbs.db

# PDF
*.pdf
